/**Dispalying menu button even in small screensizes
**/
@media only screen and (min-width : 993px) {
  .hide-on-large-only, nav a.button-collapse {
    display: block !important; }
}


/**same font in all screens
**/
html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  background:  #eceff1;
     }
  @media only screen and (min-width: 0) {
    html {
      font-size: 15px; } }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 15px; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }

/**showing important
**/
a.button-collapse {
    position: absolute !important;
}

nav .nav-wrapper i {
  font-size:2rem;
}