/**Dispalying menu button even in small screensizes
**/
@media only screen and (min-width: 993px) {
    .hide-on-large-only,
    nav a.button-collapse {
        display: block !important;
    }
}

/**same font in all screens
**/
html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    background: #eceff1;
}
@media only screen and (min-width: 0) {
    html {
        font-size: 15px;
    }
}
@media only screen and (min-width: 992px) {
    html {
        font-size: 15px;
    }
}
@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}

/**showing important
**/
a.button-collapse {
    position: absolute !important;
}

/**icons at top
**/
nav .nav-wrapper i {
    font-size: 2rem;
}
.container {
    width: 100%;
}

/**Card related sytles
**/
.card-panel {
    padding: 0px;
}

.card-head{
    padding: .1rem 1rem .1rem 1rem;
}

.card-body{
    padding: 1rem;
}

/**Images for various sources
**/
.amazon{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/amazon.jpg);
    background-repeat:no-repeat;
}

.ebay{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/ebay.jpg);
    background-repeat:no-repeat;
}

.flipkart{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/flipkart.jpg);
    background-repeat:no-repeat;
}

.homeshop18{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/homeshop18.jpg);
    background-repeat:no-repeat;
}

.infibeam{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/infibeam.jpg);
    background-repeat:no-repeat;
}

.paytm{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/paytm.jpg);
    background-repeat:no-repeat;
}

.saholic{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/saholic.jpg);
    background-repeat:no-repeat;
}

.shopclues{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/shopclues.jpg);
    background-repeat:no-repeat;
}

.snapdeal{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/snapdeal.jpg) ;
    background-repeat:no-repeat;
}

.grabmore{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/grabmore.jpg) ;
    background-repeat:no-repeat;
}

.zoomin{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/zoomin.jpg) ;
    background-repeat:no-repeat;
}

.rediff{
    display:     block;
    width:       111px !important;
    height:      30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:  transparent url(../imgs/rediff.jpg) ;
    background-repeat:no-repeat;
}


/*loader element*/
.progress {
    background-color: #8c9eff ;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    margin: 0;
    height: 0.35rem;
}

.progress .indeterminate{
    background-color: #304ffe;
}

/*No record found popup style*/
.modal {
  background-clip: padding-box;
    background-color: #eee;
    border-radius: 2px;
    display: none;
    left: 0;
    margin: auto;
    max-height: 70%;
    overflow-y: auto;
    padding: 24px;
    position: fixed;
    right: 0;
    text-align: center;
    transform: translate(0px);
    width: 20rem;
    z-index: 1000;
}

/*line hight of right side menu*/
ul.side-nav.full li, ul.side-nav.fixed li {
    line-height: 2.5em;
}

ul.side-nav.full{
  margin-top: -1rem;
}
