<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script>
        (function ($) {
            $(function () {
                $('.button-collapse').sideNav();
            }); // end of document ready
        })(jQuery); // end of jQuery name space

        $('.collapsible').collapsible({
                accordion : true
            // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        function testController($scope,$http){

   /*  $http.jsonp("http://api.pricecheckindia.com/feed/product/mobile_phones/nokia%20107.json?user=vishnude&key=OTNOKPMUNNWIPAVX&callback=JSON_CALLBACK")
    .success(
      function(response) {$scope.jsonData = response.product;}
        );
          */

        $scope.search = function(){
        var str1 = "http://api.pricecheckindia.com/feed/product/mobile_phones/";
        var str2 = ".json?user=vishnude&key=OTNOKPMUNNWIPAVX&callback=JSON_CALLBACK";
        $http.jsonp(str1+encodeURIComponent(document.getElementById('search').value)+str2)
    .success(
      function(response) {$scope.jsonData = response.product;}
        );
        
            //enable accordian
        $('.collapsible').collapsible({
                accordion : true
            // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });        
            
      }

    }

       function search(){
        document.activeElement.blur();
        angular.element(document.getElementById('body')).scope().search();
      }

   $(document).keypress(function(e) {
    if(e.which == 13) {
        search();
    }
   });
    </script>

</head>

<body>

    <nav>
        <div class="nav-wrapper indigo darken-1">
            <div class="container">
                <div class="input-field col s11" style="margin-top: 0rem;">
                    <a href="#" data-activates="slide-out" class="button-collapse">
                        <i class="mdi-navigation-menu" style="font-size: 2rem;"></i>
                    </a>
                    <input id="search" class="right-align" style="padding-right: 2rem;" type="text" required maxlength="50">
                    <label for="search" class="right-align" style="right: 0;" onclick="search();"><i class="mdi-action-search"></i>
                    </label>
                </div>
            </div>
        </div>
    </nav>

    <div id="body" class="container" data-ng-app="" data-ng-controller="testController">

        <!--navigation-->
        <ul id="slide-out" class="side-nav full">
            <li><a href="#">Navbar Link</a>
            </li>
        </ul>


        <!--cards-->
        <div class="card-panel white" data-ng-repeat="product in jsonData">
            <div ng-if="product.stores.length > 0">    
                <div class="card-head indigo white-text"><!--Model -->
                    <h5> {{product.model}} </h5>
                </div>
                <div class="row valign-wrapper card-body">
                    <div style="padding-left:1rem;width:20em;text-align: center;">
                        <img src="{{product.stores[0].image}}" alt="" class="responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12" style="text-align: center;">
                        <div class="row"><!--Brand -->
                            <h5>Brand:{{product.brand}}</h5>
                        </div>
                        <!--<div class="row">Starts price 
                            <h5>Starting from Rs {{product.stores[0].price}}</h5>
                        </div>-->

                        <!--<div class="row">down Arrow 
                            <a href="#" >
                                <i class="mdi-navigation-expand-more Medium"></i>
                            </a>
                        </div>-->
                        
                    </div>
                </div>
                <div>
                 
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
        
                </div>
            </div>
        </div>


    </div>
</body>

</html>
